// SCSS Variable's
$font-primary: 'Calibre', Helvetica, Arial, sans-serif;

$color-primary:#ef52d1;
$color-secondary:#7289da;
$color-shadow:#c23da8;
$color-border:#e7e6e4;
$color-text:#2a2825;
$color-danger:#b50626;
$color-gray:#82817d;

$color-black:#000000;
$color-white:#ffffff;